.item-avatar {
	width: var(--thumb-height);
	height: var(--thumb-height);
	box-sizing: content-box;
	&.small-avatar {
		width: var(--thumb-height-sm);
		height: var(--thumb-height-sm);
		&.with-padding {
			img {
				padding: calc(var(--thumb-height-sm) / 9);
			}
		}
	}
	&.large-avatar {
		width: var(--thumb-height-l);
		height: var(--thumb-height-l);
	}
	&.input-group-avatar {
		height: 38px; //todo может более ловкий размер понадобится
	}
	.image {
		// object-fit: cover;
		object-fit: scale-down;
		height: 100%;
		width: 100%;
		border-radius: inherit;
	}
}

.item-detail-popover {
	//desktop wrap of a card
	max-width: 500px;
	min-width: 500px;
	max-height: 500px;
}
.item-detail-popover-card {
	.card-body {
		max-height: 180px;
	}
	.map-header,
	.map-tip {
		z-index: 1;
	}
	.map-header-bg {
		z-index: -1;
	}
	.map-wrap,
	.map-wrap .teyvat-map {
		height: 230px;
		background-color: black;
	}
}
