.item-avatar{
	width: var(--thumb-height);
	height: var(--thumb-height);
	&.small-avatar{
		width: var(--thumb-height-sm);
		height: var(--thumb-height-sm);
	}
	&.large-avatar{
		width: var(--thumb-height-l);
		height: var(--thumb-height-l);
	}
}

.item-detail-popover { //desktop wrap of a card
	max-width: 576px!important;
}
.item-detail-popover-card {
	.map-header{
		z-index: 1;
	}
	.map-header-bg{
		z-index: -1;
	}
	.dungeon-location{
		height: 265px;
	}
}