@import './bootstrap.scss';

html,
body,
.app-container {
	min-height: 100vh;
}
// h: 16 *2, *3, *5
:root {
	--thumb-height-sm: 32px;
	--thumb-height: 48px;
	--thumb-height-l: 80px;
}
.bg-5 {
	background-color: rgb(149, 107, 69);
	background: linear-gradient(-180deg, #c69b78 0%, #d1c0ae 100%);
}
.bg-4 {
	background-color: rgb(108, 101, 142);
	background: linear-gradient(-180deg, #ac86af 0%, #cdbcb4 100%);
}
.bg-3 {
	background-color: rgb(106, 119, 151);
	background: linear-gradient(-180deg, #8c96b9 0%, #cac0b7 100%);
}
.bg-2 {
	background-color: rgb(114, 115, 119);
	background: linear-gradient(-180deg, #81a18a 0%, #c8c1b1 100%);
}
.bg-dark-on-dark {
	background-color: var(--bs-body-bg) !important;
}
.w-33 {
	width: 33.33%;
}
.mw-75 {
	max-width: 75%;
}
.max-height-75vh {
	max-height: 75vh;
}
.c-pointer {
	cursor: pointer;
}
.c-inherit {
	cursor: inherit;
}
.text-normal {
	color: var(--bs-body-color) !important;
}
.text-decoration-underline-dotted {
	text-decoration: dotted;
	text-decoration-line: underline;
	text-decoration-color: $light;
}
.btn-reset {
	background: none;
	border: none;
	padding: 0;
	text-align: unset;
	color: unset;
}

$colors: primary, secondary, warning, dark;

@each $color in $colors {
	.text-#{$color}.text-decoration-underline-dotted,
	.text-#{$color} .text-decoration-underline-dotted {
		text-decoration-color: rgba(var(--bs-#{$color}-rgb), 0.75) !important;
	}
}

.form-select.bg-dark {
	background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23adb5bd%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M2 5l6 6 6-6%27/%3e%3c/svg%3e');
}

.not-rounded-top-end {
	border-top-right-radius: 0 !important;
}
.not-rounded-end {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
.not-rounded-start {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}
.hide-if-empty:empty {
	display: none;
}

.letter-spacing-1 {
	letter-spacing: 0.1rem;
}
