@import "./bootstrap.scss";

html, body, .app-container{
	min-height: 100vh
}

:root {
	--thumb-height: 3rem;
	--thumb-height-sm: 2rem;
	--thumb-height-l: 5rem
}

.w-33{
	width: 33.33%
}
.mw-75{
	max-width: 75%
}
.max-height-75vh{
	max-height: 75vh
}
.c-pointer{
	cursor: pointer;
}


@media (min-width: 1200px) {//xl
	.max-height-xl-50vh{
		max-height: 50vh!important
	}
}