.text-rarity-5 {
  color: $rarity-5-color;
}
.text-rarity-4 {
  color: $rarity-4-color;
}
.text-rarity-3 {
  color: $rarity-3-color;
}

.header-main-bg {
  background: $header-main-bg;
}
.header-sub-bg {
  background: $header-sub-bg;
}
.bg-dark-darker {
  background: #292929;
}
